.button_approved {
    -fx-display: inline-block;
    -fx-trext-font-size: 16px;
    -fx-text-align: center;
    -fx-text-decoration: none;
    -fx-outline: none;
    -fx-text-fill: #fff;
    -fx-background-color: green;
    -fx-border-insets: 0px, 0px, 12px,0px ;
    -fx-border-radius: 20;
    -fx-text-alignment:center;
}

.button_approved:hover{
    -fx-background-color: black }
.button_failed {
    -fx-display: inline-block;
    -fx-trext-font-size: 16px;
    -fx-text-align: center;
    -fx-text-decoration: none;
    -fx-outline: none;
    -fx-text-fill: #fff;
    -fx-background-color: red;
    -fx-border-insets: 0px, 0px, 12px,0px ;
    -fx-border-radius: 20;
    -fx-text-alignment:center;
}

.button_failed:hover{
    -fx-background-color: white }
.button_unseen {
    -fx-display: inline-block;
    -fx-trext-font-size: 16px;
    -fx-text-align: center;
    -fx-text-decoration: none;
    -fx-outline: none;
    -fx-text-fill: #fff;
    -fx-background-color: blue;
    -fx-border-insets: 0px, 0px, 12px,0px ;
    -fx-border-radius: 20;
    -fx-text-alignment:center;
}
.button_unseen:hover{
    -fx-background-color: grey }
